body {
  overflow-x: hidden;
}

.menu-wrap .hvr-underline-from-left {
  padding: 10px;
}

.menu-wrap .hvr-underline-from-left:before {
  background: black;
}

.bg-black {
  background: #000;
}

.bg-black h2, .bg-black h3, .bg-black p, .bg-black i {
  color: #f7f7f7;
}

.bg-black .btn-custom {
  border: solid 1px white;
}

.bg-black .hvr-radial-out {
  background: #000;
  color: #fff;
}

.bg-black .hvr-radial-out:hover {
  text-decoration: none;
  color: #000;
}

.bg-black .hvr-radial-out:before {
  background: #fff;
}

.btn-custom {
  text-decoration: none;
  color: #000;
  border: solid 1px black;
  padding: 10px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.btn-custom-black:hover {
  text-decoration: none;
  color: #ffffff;
  background: black;
}

i {
  font-size: 40px;
  color: black;
}

.space {
  padding-top: 50px;
  padding-bottom: 50px;
}

#img-logo {
  background: url(../img/beard2.png) 100%/contain no-repeat;
  height: 100px;
  position: fixed;
  top: 20px;
  left: 0;
  width: 160px;
  z-index: 9;
}

.grey1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 200px;
  background: lightgrey;
  border-radius: 0 0 50% 0;
  z-index: 8;
}

#home {
  margin-top: 20px;
}

#about {
  margin-top: 20px;
}

#searcher .hvr-radial-out {
  background: #fff;
}

#searcher .hvr-radial-out:hover {
  text-decoration: none;
}

#searcher .hvr-radial-out:before {
  background: #000;
}

#videogame .hvr-radial-out {
  background: #fff;
}

#videogame .hvr-radial-out:hover {
  text-decoration: none;
}

#videogame .hvr-radial-out:before {
  background: #000;
}

#footer .bg-black {
  border-radius: 0 50% 0 0;
}

#footer .bg-black img {
  width: 4%;
  opacity: .3;
}

#footer .bg-black p, #footer .bg-black i {
  font-size: 12px;
}

#footer .bg-black a {
  text-decoration: none;
}

#footer .bg-black a:hover {
  text-decoration: none;
}

#footer .bg-lightgrey {
  background: lightgrey;
}

#footer .bg-lightgrey i {
  font-size: 30px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

#footer .bg-lightgrey a {
  padding: 5px;
}

#footer .bg-lightgrey a i:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#footer .bg-lightgrey .fa-facebook-f {
  font-size: 27px;
}

#contact2 {
  margin-top: 20px;
}

#contact2 a {
  text-decoration: none;
}

#contact2 a:hover {
  text-decoration: none;
}

#contact2 p, #contact2 i, #contact2 a {
  font-size: 20px;
}

#contact2 .bg-lessblack {
  background: #3a3a3a;
}

#contact2 a, #contact2 h5 {
  color: #f7f7f7;
}

#contact2 label, #contact2 input, #contact2 textarea {
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #f7f7f7;
}

#contact2 input, #contact2 textarea {
  border-bottom: solid 1px #f7f7f7;
}

#contact2 input:focus, #contact2 textarea:focus {
  outline: none;
}

#contact2 .hvr-radial-out {
  background: #f7f7f7;
}

#contact2 .boxShadow {
  -webkit-box-shadow: rgba(1, 1, 1, 0.5) 0px 15px 30px -10px;
          box-shadow: rgba(1, 1, 1, 0.5) 0px 15px 30px -10px;
}

#contact2 .btn-custom {
  color: black;
  cursor: pointer;
}

#contact2 .btn-custom:hover {
  color: #f7f7f7;
}

#contact2 .hvr-radial-out:before {
  background: #000;
}

@media (max-width: 600px) {
  #footer .bg-black img {
    width: 14%;
  }
  #home {
    margin-top: 180px;
  }
  #about {
    margin-top: 180px;
  }
  #about .rounded-circle {
    width: 160px;
  }
  #contact2 {
    margin-top: 180px;
  }
}
/*# sourceMappingURL=styles.css.map */